<div class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/">Climate Solutions</a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a class="<%= (page == '/solutions/projects') ? 'active' : '' %>" href="/solutions/projects">View
                    Projects</a></li>
            <li><a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <% if(session.user){ %>
            <li class="hidden lg:flex">
                <details>
                    <summary>Account: <%= session.user.userName %>
                    </summary>
                    <ul class="p-2 right-0">
                        <li><a class="<%= (page == '/solutions/addProject') ? 'active' : '' %>"
                                href="/solutions/addProject">Add Project</a></li>
                        <li><a class="<%= (page == '/userHistory') ? 'active' : '' %>" href="/userHistory">User
                                History</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </details>
            </li>
            <% } else { %>
                <li class="hidden lg:flex">
                    <details>
                        <summary>Account</summary>
                        <ul class="p-2 right-0">
                            <li><a class="<%= (page == '/login') ? 'active' : '' %>" href="/login">Login</a></li>
                            <li><a class="<%= (page == '/register') ? 'active' : '' %>" href="/register">Register</a>
                            </li>
                        </ul>
                    </details>
                </li>
                <% } %>

                    <div class="dropdown lg:hidden">
                        <div tabindex="0" role="button" class="btn btn-ghost">☰</div>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a class="<%= (page == '/solutions/projects') ? 'active' : '' %>"
                                    href="/solutions/projects">View Projects</a></li>
                            <li><a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
                            <% if(session.user){ %>
                                <li><a class="<%= (page == '/solutions/addProject') ? 'active' : '' %>"
                                        href="/solutions/addProject">Add Project</a></li>
                                <li><a class="<%= (page == '/userHistory') ? 'active' : '' %>" href="/userHistory">User
                                        History</a></li>
                                <li><a href="/logout">Log Out</a></li>
                                <% } else { %>
                                    <li><a class="<%= (page == '/login') ? 'active' : '' %>" href="/login">Login</a>
                                    </li>
                                    <li><a class="<%= (page == '/register') ? 'active' : '' %>"
                                            href="/register">Register</a></li>
                                    <% } %>
                        </ul>
                    </div>
    </div>
</div>